
        header{
            background-color: red;
            padding: 30px;
        }
        .PowerRanger{
            background-color: blue;
            padding: 170px;
        }
        .section1{
         
            width: 100px;
            height: 100px;
            width: 200px;
            height: 300px;
            padding: 100px;
            background-color: aquamarine;
            overflow: scroll;

           
        }
        .section2{
            margin-left: 500px;
            margin-top: -500px;
            width: 200px;
            height: 300px;
            padding: 100px;
            background-color: aquamarine;
            overflow: scroll;
        }
        footer{
            padding: 50px;
            background-color: yellow;
        }

    